/*@import "/global.css";*/

/*** CSS Reset ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

a, button {
    cursor: revert;
}

ol, ul, menu {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

input, textarea {
    -webkit-user-select: auto;
}

textarea {
    white-space: revert;
}

::placeholder {
    color: unset;
}

/*** Assign fonts and viewpoints ***/
html, body {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

#container {
    height: 100vh;
    max-width: 85%;
    margin: auto;
}

/*** Navbar ***/
.nav {
    height: 20%;
    display: flex;
    justify-content: space-between;   
}

.nav-items {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-lists {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.hamburger-menu {
    display: none;
}

.avl-weather {
    padding: 0 2em;
}
