/*@import "/global.css";*/

/*** CSS Reset ***/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, button {
    cursor: revert;
}

ol, ul, menu {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

input, textarea {
    -webkit-user-select: auto;
}

textarea {
    white-space: revert;
}

::placeholder {
    color: unset;
}


/*** Set up CSS Variables ***/
:root {
    ---bg-color: #275656;
    --white: #fff;
    --black: #000;
    --header-font-family: 'Lobster', cursive;
    --font-family: 'Nunito', sans-serif;
    --logo-font: 'Anton', sans-serif;
}


/*** Assign repeated values to the elements ***/
html, body {
    font-size: 16px;
    font-family: var(--font-family);
}

h1 {
    font-family: var(--header-font-family);
}

a {
    text-decoration: none;
    font-size: 1em;
    color: var(--black);
}


/*** Navbar ***/
.nav {
    position: absolute;
    z-index: 999;
    color: var(--white);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 10em;
}

.logo {
    font-family: var(--logo-font);
    font-size: 2em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.nav-items {
    display: flex;
    width: 60em;
    justify-content: space-around;
    align-items: center;
}

.nav-lists {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.nav-items .nav-lists li a {
    color: var(--white);
}

.hamburger-menu {
    display: none;
}


/*** Welcome Heading ***/
.welcome-header {
    background-color: var(---bg-color);
    height: 60em;
    padding-top: 10em;
}

.header-bg-diaganal {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 14vw solid var(--white);
    margin-top: -13.9vw;
}

.welcome-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.welcome-text {
    width: 40%;
    font-size: 1.5em;;
    color: var(--white);
}

.welcome-word {
    font-size: 3em;
    margin-bottom: 0;
    color: var(--white);
}

.avl-word {
    font-size: 6em;
    color: var(--white);
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px var(--black);
    margin: 0 auto 0.5em auto;
}

.carousel-img {
    width: 80%;
    position: absolute;
    z-index: 2;
    top: 28em;
    left: 0;
    right: 0;
    margin: 0 auto;   
}

.img-area {
    height: 30em;
}


